<launch>

    <!-- rviz -->
    <node name="rviz_CICV" pkg="rviz" type="rviz" args="-d $(find CICV-Contest)/config/rvizConfig.rviz" output="screen" />

    <!-- load map by map_server -->
    <node name="map_server_CICV" pkg="map_server" type="map_server" args="$(find CICV-Contest)/task9-新增样例数据2/task9-样例数据2/map.yaml" output="screen" />


</launch>